.careers__apply {
  margin-bottom: 100px;

  &-wrapper {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  &-information {
    max-width: 526px;
    width: 100%;
  }

  &-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 40px;
  }

  &-subtitle {
    color: $title-blue;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 40px;
  }

  &-description {
    color: $blue;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  @include media-breakpoint-down(xl) {
    &-wrapper {
      gap: 40px;
    }

    &-title,
    &-subtitle {
      font-size: 26px;
      margin-bottom: 30px;
    }

    &-description {
      font-size: 19.66px;
      max-width: 450px;
    }
  }

  @include media-breakpoint-down(lg) {
    &-wrapper {
      flex-direction: column;
    }

    &-information,
    &-description {
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;

    &-wrapper {
      gap: 0;
    }

    &-title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    &-subtitle {
      font-size: 25px;
      line-height: 32px;
      margin-bottom: 40px;
      text-align: left;
    }

    &-description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 36px;
      text-align: left;
    }
  }
}
