.careers__gallery {
  margin-bottom: 100px;

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }

  &-image {
    height: auto;
    width: 20%;
  }

  @include media-breakpoint-down(md) {
    &-image {
      width: 33%;

      &:last-child {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 130px;
    &-image {
      height: 50%;
      width: 50%;

      &:last-child {
        display: block;
      }
    }
  }
}
