.about {
  margin-bottom: 100px;

  &__content {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  &__title {
    line-height: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $about-text;
    max-width: 336px;
  }
  &__text {
    color: $about-text;
    max-width: 940px;
    width: 80%;
  }

  @include media-breakpoint-down(xxl) {
    &__text {
      font-size: 18px;
      max-width: 860px;
    }
  }

  @include media-breakpoint-down(xl) {
    &__content {
      gap: 0;
    }

    &__title {
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 43px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 1.2;
      max-width: 440px;
    }

    &__text {
      font-size: 16px;
      line-height: 27px;
      max-width: 856px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__content {
      align-items: flex-start;
      flex-direction: column;
      gap: 50px;
    }

    &__text {
      max-width: none;
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 16px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;

    &__content {
      gap: 0;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 40px;
      text-align: center;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
      text-align: left;
    }
  }
}
